/* 
.profile {
display: flex;
justify-content: center;
padding-top: 20px;
border-radius: 50%;
} */
@import url(https://fonts.googleapis.com/css?family=Raleway|Reenie+Beanie);
.hide{
    display: none !important;
}

.title{
    font-size: 22px;
    font-weight: bold;
    text-transform: capitalize;
}

.infosubTitle{
    font-size: 14px;
    font-weight:300;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    color: grey;
    border-bottom: 1px solid #ccc;
}

.infoTitle{
    width: 100%;
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
}
   
.infoTitleFlag{
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
}

.view{
    transition: margin-left .5s;
    background: white;
}

.header{
    position: absolute;
    opacity: 0.8;
    top: 0px;
    height: 50px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.header1{
    position: absolute;
    opacity: 0.8;
    top: 50px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.innerNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 34px;
}

.headerbtn{
    color: white;
    border-bottom: 1px solid;
    padding: 11px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 70%;
    margin-bottom: 16px;
}

.active{
    background: blueviolet;
}

.imageClass{
    position: relative;
}

.text-block {
    position: absolute;
    opacity: 0.8;
    bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .Details{
      padding: 10px 30px;
  }

  .topicInfo{
    padding: 20px 0px;
    text-align: justify;
  }



  .flexCenter{
    display: flex;
    justify-content: center;
  }

  .btnSub{
    border-radius: 5px;
    /* position: absolute; */
    text-align: center;
    bottom: 30px;
    padding: 10px 21px;
    background: black;
    /* width: 10%; */
    color: white;
    cursor: pointer;
    }

  .footer{
    bottom: 0;
    display: flex;
    color: black;
    font-size: 13px;
    text-align: center;
    /* position: fixed; */
    padding: 6px;
    height: 30px;
  }

  .footer p{
    color: blue;
    padding-left: 5px;
  }

  .filtersData{
    padding: 16px;
  }

  .pickDate{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .twoDivflex{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 16px;
  }

  .childtwoDivFlex {
    width: 30%;
    font-weight: 600;
}

  .dataset{
    height: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .detailsPage{
    padding: 10px;
    margin-bottom: 10px;
    width: 60%;
    border-radius: 5px;
    box-shadow: 5px 5px #ccc;
    border: 1px solid #ccc;
  }

  .itemDetails{
    font-size: 14px;
  }

  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  .donkyInfo{
    text-align: center;
    font-size: 14px;
    margin-bottom: 32px;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loaderParent{
    display: flex;;
    justify-content: center;
    align-items: center;
    height: 150px;
  }



/* photo gallery css */

#content img {
  width: 100%;
  height: 200px;
}

#content a {
  color: black;
}

.caption,
h1,
.date {
  margin: 0;
  text-align: center;
}

.caption,
h1 {
  font-family: "Reenie Beanie", sans-serif;
  font-size: 2em;
  padding: 10px 10px 0 10px;
}

#content .date {
  font-size: 0.75em;
}

#content .description {
  font-size: 12px;
  padding: 0 20px 5px 20px;
  text-align: left;
  margin-bottom: 0px;
}

#content .container {
  perspective: 1000px;
  display: inline-block;
  margin: 2%;
}

#content .container:hover .flipper {
  transform: rotateY(180deg);
}

.container,
.front,
.back {
  width: 250px;
  height: 250px;
}

#content .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content .front {
  z-index: 2;
}

#content .back {
  transform: rotateY(180deg);
}

#content {
  text-align: center;
}

  /* side nav classes */


  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

  /* end of sidevar classes */


  /* media query for mobile size devices which width in 600px */
  @media only screen and (max-width: 600px) {
    .childtwoDivFlex {
      width: 160px;
      margin: 10px;
      font-weight: 600;
    }

    .detailsPage{
      padding: 10px;
      margin-bottom: 10px;
      width: 100%;
      border-radius: 5px;
      box-shadow: 5px 5px #ccc;
      border: 1px solid #ccc;
    }

  }